<div class="container">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Add a Company Staff
  </button>
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Name </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </td>
    </ng-container>

    <ng-container matColumnDef="company.user_type">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>User Type </th>
      <td mat-cell *matCellDef="let element"> {{element.company.user_type}} </td>
    </ng-container>

    <ng-container matColumnDef="company.name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Entity </th>
      <td mat-cell *matCellDef="let element"> {{element.company.name}} </td>
    </ng-container>

    <ng-container matColumnDef="user_status">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>User Status </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="onCreate()">
          <mat-icon [ngClass]="element.user_status === 'pending'? 'green-icon' : 'black-icon'">check</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="onCreate()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button (click)="onCreate()">
          <mat-icon>mail</mat-icon>
        </button>
        <button mat-raised-button (click)="onCreate()">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Select page">
  </mat-paginator>

</div>
