<form [formGroup]="service.form" class="normal-form" rowHeight="1rem">
  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$id">
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email*">
        </mat-form-field>
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="civilities">
            <mat-radio-button value="Mr">Mr</mat-radio-button>
            <mat-radio-button value="Mrs">Mrs</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field>
          <mat-select formControlName="company_name" placeholder="Select Entity">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let company_name of company_names">
              <mat-option value="{{company_name.id}}">{{company_name.value}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="first_name" matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="type_company" placeholder="Select Company">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let type_company of type_companys">
              <mat-option value="{{type_company.id}}">{{type_company.value}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="last_name" matInput placeholder="Last Name">
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="user_type" placeholder="Select User Type">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let user_type of user_types">
              <mat-option value="{{user_type.id}}">{{user_type.value}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="position" matInput placeholder="Position">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=4 [rowspan]=1>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
    </mat-grid-tile>

  </mat-grid-list>
</form>
